.nav-links {
  background-color: black;
  text-align: center;
}

.title-name {
  text-align: center;
}

.title-quote {

}

.quote-author{
  margin-bottom: ($spacer * 3) !important;  
}

.about-head {
  text-align: center;
}

.about {
  font-size: 15px;
  text-align: center;
}

.image {
  border: solid;
  border-right: transparent;
  border-left: transparent;
  border-style: groove;
  text-align: center;
}


.m {
  margin-top: ($spacer * 3) !important;
}

.m-2 {
  margin-bottom: ($spacer * 1) !important;
}