.nav-links {
  background-color: black;
  text-align: center;
}

.title-name {
  text-align: center;
}


.about-head {
  text-align: center;
}

.about {
  text-align: center;
  background-color: black;
  border: 7rem;
}

.image {
  border: solid;
  border-right: transparent;
  border-left: transparent;
  border-style: groove;
  text-align: center;
}

.footer-text {
  font-size: 9px;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp2315927.jpg");
  color: #FFFFFF;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.quote {
  padding-right: 20rem;
}
